extends lua

snippet describeit "Busted: 'describe' with 'it' block" b
describe("${1:title}", function()
	it("${2:title}", function()
		${0:-- test body}
	end)
end)
endsnippet

snippet describe "Busted: 'describe' block" b
describe("${1:title}", function()
	${0:-- test body}
end)
endsnippet

snippet it "Busted: 'it' block" b
it("${1:title}", function()
	${0:-- test body}
end)
endsnippet
